<tr id="issue-<%= issue.id %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= css_issue_classes(issue) %>">
  <td class="checkbox"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></td>
  <td><%= link_to issue.id, :controller => 'issues', :action => 'show', :id => issue %></td>
  <% query.columns.each do |column| %>
    <%= content_tag 'td', column_content(column, issue), :class => column.name %>
  <% end %>
</tr>